<ul class="list-unstyled">
  <% messages.each do |message| %>
  <div>
    <%= message.user.name%>&emsp;<span class="text-muted"><%= message.created_at.to_s(:datetime_jp) %></span>
  </div>
      <div>
        <p><%= simple_format( message.content) %></p>
    <% if logged_in? %>
      <% if current_user.admin? %>
      <%= link_to "Delete", message, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
      <% end %>
    <% end %>
  <% end %>
  <%= paginate messages %>
</ul>