<% if logged_in? %>
  <div class="container">
    <%= form_with(model: @message, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    
      <div class="form-group">
        <%= f.text_area :content, class: 'form-control', rows: 5 %>
      </div>
      
      <div class="form-group">
        <%= f.fields_for :images do |i| %> 
          <%= i.file_field :image_url %>
        <% end %>
      </div>
      
        <%= f.submit '投稿する', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
<% end %>

<%= render 'messages/messages', messages: @messages %>