<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>Apex Legends 細かすぎる募集掲示板</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
  </head>
    
  <body>
    
    <%= render 'layouts/navbar' %>
    
    <div class="container">
    <%= render 'layouts/flash_messages' %>
     
    <div class="text-center">
      <h1>Apex Legends 細かすぎる募集掲示板</h1>
    </div>
    <div class="center jumbotron">
      <div class="text-left">
        <h5>・利用上の注意点（必ず読んで下さい）</h5><br>
        <p>ApexLerends専用掲示板になります。<br>
        掲示板の趣旨にそぐわない書き込みはご遠慮ください。<br>
        最低限の常識・マナーを踏まえてご発言お願い致します。<br>
        個人を特定出来てしまう個人情報を書き込む行為は禁止とさせて頂きます。<br>
        無料登録しログインすると、コメントの書き込みが出来るようになります。<br>
        名前、ID、通話、機種、時間帯、使うキャラ、好きな武器、プレイスタイル、嫌いなプレイなど自分や募集したい人を細かすぎるほどに条件指定して、自分に合った人と楽しく遊びたい方向けの掲示板になっております。<br>
        出会い系ではありません。<br>
        不適切な発言などがあった場合、忠告無しに消去や利用停止させて頂きます。<br>
        皆様ご協力をお願い致します。</p>
      </div>
    </div>
    </div>
    
      <%= yield %><br>

    <footer class="footer mt-auto py-3 bg-dark">
      <div class="container">
        <% if logged_in? %>
          <% if current_user.admin? %>
            <%= link_to "ユーザー一覧", users_path %>
          <% end %>
        <% end %>
      </div>
    </footer>


  </body>
</html>
